/*中心栏*/
QWidget[form="widget_center"]{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: rgb(230, 230, 230);
}

/*工具栏*/
QWidget[form="widget_tool"]{
	border: 1px solid rgb(198, 198, 198);
	border-radius: 5px;
	background-color: rgb(243, 242, 241);
}

/*窗口操作按钮*/
QPushButton[form="btn_close"]{
	image:url(:/image/close.png);
	padding:10px;
	background:transparent;
	border:none;
}
QPushButton[form="btn_close"]:hover{
	background:rgba(255, 0, 0, 0.9);
}
QPushButton[form="btn_close"]:pressed{
	background:rgb(241, 112, 122);
}
QPushButton[form="btn_max"]{
	image:url(:/image/doc-result-max.png);
	padding:10px;
	background:transparent;
	border:none;
}
QPushButton[form="btn_max"]:hover{
	background:rgba(0, 0, 0, 0.3);
}
QPushButton[form="btn_max"]:pressed{
	background:rgba(0, 0, 0, 0.5);
}
QPushButton[form="btn_max_back"]{
	image:url(:/image/doc-mini-max.png);
	padding:10px;
	background:transparent;
	border:none;
}
QPushButton[form="btn_max_back"]:hover{
	background:rgba(0, 0, 0, 0.3);
}
QPushButton[form="btn_max_back"]:pressed{
	background:rgba(0, 0, 0, 0.5);
}
QPushButton[form="btn_min"]{
	image:url(:/image/minimum.png);
	padding:10px;
	background:transparent;
	border:none;
}
QPushButton[form="btn_min"]:hover{
	background:rgba(0, 0, 0, 0.3);
}
QPushButton[form="btn_min"]:pressed{
	background:rgba(0, 0, 0, 0.5);
}

/*打开图片按钮*/
QPushButton[form="btn_open_img"]{
	color: rgb(245, 245, 245);
	font-size: 10pt;
	background: rgb(31, 63, 113);
	border-radius:15px;
}
QPushButton[form="btn_open_img"]:hover{
	background: rgb(34, 70, 124);
}

/*菜单栏按钮*/
QPushButton[form="btn_menu"]{
	color: rgb(230, 230, 230);
	font-size: 10pt;
	font-weight: bold;
	background: transparent;
	border-style: solid;
	border-width:0 0 2px 0;
	border-color: transparent;

}
QPushButton[form="btn_menu"]:hover{
	border-color: rgb(240, 240, 240);
}
QPushButton[form="btn_menu"]:checked{
	color: white;
	border-color: white;
}

/*深色按钮*/
QPushButton[form="btn_dark"]{
	color: white;
	background: rgb(59, 119, 198);
	border-radius:17px;
}
QPushButton[form="btn_dark"]:hover{
	background: rgb(81, 160, 229);
}

/*浅色按钮*/
QPushButton[form="btn_light"]{
	border: 1px solid rgb(201, 201, 201);
	border-radius:15px;
}
QPushButton[form="btn_light"]:hover{
	border-color: rgb(59, 119, 198);
}
QPushButton[form="btn_light"]:pressed{
	border-color: rgb(59, 119, 198);
}

/*浅色小按钮*/
/* QPushButton[form="btn_light_small"]{ */
	/* border: 1px solid rgb(201, 201, 201); */
	/* border-radius:3px; */
/* } */
/* QPushButton[form="btn_light_small"]:hover{ */
	/* border-color: rgb(59, 119, 198); */
/* } */
/* QPushButton[form="btn_light_small"]:pressed{ */
	/* border-color: rgb(59, 119, 198); */
/* } */

/*深色大按钮*/
QPushButton[form="btn_dark_big"]{
	color: white;
	background: rgb(59, 119, 198);
	border-radius:20px;
}
QPushButton[form="btn_dark_big"]:hover{
	background: rgb(81, 160, 229);
}

/*浅色大按钮*/
QPushButton[form="btn_light_big"]{
	border: 1px solid rgb(201, 201, 201);
	border-radius:20px;
}
QPushButton[form="btn_light_big"]:hover{
	border-color: rgb(59, 119, 198);
}
QPushButton[form="btn_light_big"]:pressed{
	border-color: rgb(59, 119, 198);
}

/*输入框*/
QLineEdit, QSpinBox{
	border: 1px solid rgb(201, 201, 201);
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
QSpinBox::up-button, QSpinBox::down-button{
	width: 0px;
}

/*滑块*/
QSlider::handle:horizontal{
	background: rgb(201, 201, 201);
	border-radius: 3px;
}
QSlider::handle:horizontal:hover{
	background: rgb(59, 119, 198);
}
